body{
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('../../Images/stade.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    position: relative;
    overflow-x: hidden;
}

html {
    background: linear-gradient(#e0c3fc, #8ec5fc);
    height: 230%;
}

a {
    color: #fff;
}



h1 {
    text-transform: uppercase;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
    margin-top: 18%;
    font-size: 35px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

h2 {
    margin-left: 50px;
    margin-top: 2%;
    color: black;
    font-size: 35px;
}

.ombreText{
    text-shadow: black 0.1em 0.1em 0.2em;
}

.l1 {
    width: 250px;
    height: 3px;
    border-radius: 5px;
}

.container{
    position: absolute;
    top: 10px;
    left: 5%;
}

.lien {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    padding: 15px 45px;
    margin-left: 700px;
    margin-right: 700px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.25s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: large;
  }

  #logoDDCS{
    margin-left: 70%;
    object-fit: contain;
    margin-top: 5%;
    margin-bottom: 9%;
}

.pagePartie1, .pagePartie2{
    border-color: black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 7px 10px 1px black;
    width: 60%;
    margin: auto;
    margin-bottom: 2%;
}

.row{
    text-align: center;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.justify{
    text-align: justify;
    margin-left: 20px;
}

.page{
    margin-top: 11%;
    margin-left: 30px;
}

.gras{
	font-weight: bold;
}

#menu{
    background-color: blue;
}

#centreMenu:hover{
    background-color: rgb(22, 111, 184);
}

#centreMenu{
    height: 2.3em; /* hauteur du parent */
    line-height: 2.3em; /* hauteur de ligne (identique) */
    white-space: nowrap; /* interdiction de passer à la ligne */
}

h3{
    margin-top: 10px;
    font-size: 25px;
}

h4{
    margin-left: 30px;
}

h6{
    margin-left: 30px;
}

.basPage{
    background-color: rgb(65, 56, 56);
    color: white;
}

/*Mise en forme du petit logo dépliable*/
.logoProfil{
    width: 75px;
    height: 75px;

    z-index: 100;
}

.menu-profil{
    position:fixed;

    margin-left: 180vh;
    top: 10px;

    z-index: 100;
}


.sub-menu-wrap{
    position: absolute;
    top:100%;
    right: 10%;
    width: 320px;

    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin:10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border : 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin : 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin : 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link :hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}
/*Fin de la mise en forme du logo*/