body{
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('../Images/stade.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    position: relative;
    overflow-x: hidden;
}

html {
    background: linear-gradient(#e0c3fc, #8ec5fc);
    height: 230%;
}

a {
    color: #fff;
}

h1 {
    text-transform: uppercase;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
    margin-top: 18%;
    font-size: 35px;
}

h2 {
    margin-left: 50px;
    color: black
}

.l1 {
    width: 250px;
    height: 3px;
    border-radius: 5px;
  }

.container{
    position: absolute;
    top: 10px;
    left: 5%;
}

.lien {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    padding: 15px 45px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.25s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: large;
  }

  #logoDDCS {
    margin-left: 70%;
    object-fit: contain;
    margin-top: 5%;
    margin-bottom: 9%;
  }

.row{
    text-align: center;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.justify{
    text-align: justify;
    margin-left: 20px;
}

.page{
    margin-top: 10%;
    margin-left: 30px;
    text-decoration: underline;
}

.gras{
	font-weight: bold;
}

#menu{
    background-color: blue;
}

#centreMenu:hover{
    background-color: rgb(22, 111, 184);
}

#centreMenu{
    height: 2.3em; /* hauteur du parent */
    line-height: 2.3em; /* hauteur de ligne (identique) */
    white-space: nowrap; /* interdiction de passer à la ligne */
}

h3{
    margin-top: 10px;
}

h4{
    margin-left: 30px;
}

h6{
    margin-left: 30px;
}

.basPage{
    background-color: rgb(65, 56, 56);
    color: white;
}