body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    position: relative;
    overflow-x: hidden;
    background-image: url(../Images/stade.jpg);
    background-size:cover;
}



.lignes{
    position: absolute;
    top: 6%;
    left: 5%;
}

.l1{
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}
.l2{
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

h1{
    text-transform: uppercase;
    color: #fffbfb;
    font-family: Abril fatface, sans-serif; 
    margin-top: 18%;
    font-size: 45px;
}

h2{
    margin-left: 32%;
    margin-bottom: 46px;
    margin-top: 40px;
    font-family: system-ui;
    color: #f1f1f1;
}

label{
    font-family: serif;
    margin-bottom: 0px;
    font-size :small;
    color: #f1f1f1;
}

.container-first{
    position: absolute;
    top: 10px;
    left: 5%;
}

#logoDDCS
{
    margin-left: 70%;
    object-fit: contain;
    margin-top: 5%;
    
}

fieldset{
    
    margin-left: 39%;
    margin-top: 15%;
    background: rgb(118, 118, 239);
    opacity: 0.8;
    border-radius: 3px;
    width: 30%;
    height: 65%;
    border-radius: 5px;
    border : solid rgb(10, 10, 10) 1px;
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
    position: absolute;

}

.container{
    border: none;
    justify-content: space-between;
    align-items: center;
    outline : transparent;
    background-color: #7657ff;
}

.lignesElement{
    height: 1px;
    background: #ffffff;
    margin-top: 2px;
    overflow: hidden;
}

.element{
    width: 50%;
    margin-left: 24%;
}

#btn-connexion{
    margin-top: 50px;
    margin-bottom: 40px;
    height: 50px;
    width: 50%;
    margin-left: 24%;
    box-shadow: .2rem .2rem 0 var(--color-shadow, rgb(126, 119, 201));
    font-size: small;
}

#inscription{
    margin-left: 27%;   
    color: #ffffff;
}


