body{
	background-color:whitesmoke;
	font-family : Tahoma, Geneva, sans-serif;
	padding:15px;
	margin-top: 30px;
	margin-bottom:30px;
	margin-left:0px;
	margin-right: 0px;
}

h1 {
	font-size:25px;
	text-align: center;
}

h2 {
	font-size: 20px;
	text-align: center;
}

p{
	margin:0 0 0.7em 0.7em;
}

form{
	width:60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
}

fieldset{
	display: block;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.175em;
	margin-bottom: 0.5em;
	background-color: ghostwhite;
}

input{
	margin:8px;
}

input[required]{
	font-weight: bold;
}

select{
	width:250px;
}

input[type="text"]{
	width:250px;
}

input[type="email"]{
	width:300px;
}

input[type="tel"]{
	width:200px;
}

input[type="submit"]{
	font-size: larger;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:128px;
	height:46px;
	cursor:grab;
	border:none;
	background-color: transparent;
}

textarea{
	width:98%;
}

table {
	vertical-align: middle;
	margin: auto;
	border-collapse: collapse;
	width: 40%;
	margin-top: 0.5em;
}

td, th, tr
{
    border: 1px solid black;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}

td, tr{
	margin-left: 20%;
}

th
{
	background-color: #616060;
	color: white;
}

#nature_gravite{
	margin: auto;
}

#nature{
	height: 1,5em;
	width: 1,5em;
	position: relative;
	float: left;
}

#gravite{
	height: 0,5em;
	width: 0,5em;
	position: relative;
	float: center;
}

#gravite th{
	background-color: transparent;
	color: black;
	padding-right: 22%;
	text-decoration: underline;
}

#gravite td, tr, th{
	border: 0;
	padding: 0;
}

#gravite .boutonRadio{
	border: 0;
	padding-bottom: 3.5%;
}

.rouge{
	color: red;
}

#descIncident{
	width:200%;
}

#dicipline, #mesure{
	width:63%;
}

.gras{
	font-weight: bold;
}

.souligne{
	text-decoration: underline
}

.district{
	margin-left: 3em;
}

#labelNumMatch{
	margin-left: 6em;
}