*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: url('../Images/stade.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  position: relative;
  overflow-x: hidden;
}

html {
  background: linear-gradient(#e0c3fc, #8ec5fc);
  height: 230%;
}

.ombreText{
  text-shadow: black 0.1em 0.1em 0.2em;
}

.gras{
	font-weight: bold;
}

.l1 {
  width: 250px;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
}

.l2 {
  width: 140px;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: relative;
  top: 20px;
  
}

.l3 {
  width: 90%;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: absolute;
  left: 5%;
  margin-top: 20%;
}

.lignes {
  position: absolute;
  top: 6%;
  left: 5%;
}

a {
  color: #fff;
  text-decoration: none;
}

.lien {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  padding: 15px 45px;
  margin-left: 700px;
  margin-right: 700px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.25s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: large;
}

.lien:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}



#logoDDCS {
  margin-left: 70%;
  object-fit: contain;
  margin-top: 5%;
  margin-bottom: 9%;
}



h1 {
  text-transform: uppercase;
  color: #f1f1f1;
  font-family: Abril fatface, sans-serif;
  margin-top: 18%;
  font-size: 45px;
}

.container-first {
  position: absolute;
  top: 10px;
  left: 5%;
}

#formulaire {
  text-align: center;
  width: 80%;
}



.field:hover{
  box-shadow: 10px 7px 10px 1px black;
  text-shadow: white 0.2em 0.1em 0.2em;
}


.lignesForm {
  width: 100%;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: absolute;

}

h2 {

  margin-left: 50px;
  color: black

}

fieldset {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-color: black;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  text-align: center;
  height: auto;
}

label,
input {
  margin-left: 10px;
  margin-top: 15px;

}

.title{
  height: auto;
  margin-top: auto;
  text-align: center;
}
input {
  border-radius: 5px;
  border: 3px solid;
}

.input_text {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

button {
  cursor: pointer;
  margin-left: 30%;
}

#p3{
  margin-left: 24%;
  margin-bottom: 5%;
}

h4{
  text-decoration: underline;
}

.text {
  margin-top: 23%;
  margin-left: 30px;
  text-decoration: underline;
}

.listeDeroulente {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
  text-align: center;
}

legend {
  margin-left: 20px;
}

/*Réalisation d'un pop up pour afficher les conditions générales d'utilisations -------------------------------------------------------*/


.box {
  width: 320px;
  margin: 10rem auto;
  padding-top: 10rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 2.5rem;
  border: 2px solid #ddd;
  border-radius: 20px/50px;
}

.button {
  font-size: 1.3rem;
  padding: 1rem;
  color: #fff;
  border: 2px solid #12FCF8;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  background: rgba(10, 149, 147, 0.25);
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity .4s;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 6rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.popup .cross {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
  color: #333;
}

.popup .cross:hover {
  color: #e21d1d;
}

#valide {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#valide:hover {
  background-position: center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.pp{
  max-width : 15%;
  height : auto;
}