*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('../Images/stade.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    position: relative;
    overflow-x: hidden;
  }

  html {
    height: 230%;
    background: rgb(141, 141, 240);
  }

  .l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  .l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
    
  }
  
  .l3 {
    width: 90%;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-top: 20%;
    margin-bottom: 30px;
  }
  
  .lignes {
    position: absolute;
    top: 6%;
    left: 5%;
  }
  
  a {
    color: #fff;
  }
  
  .lien {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    padding: 15px 45px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.25s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: large;
  }
  
  .lien:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  #lastbutton{
    margin-bottom: 10%;
  }
  
  #logoDDCS {
    margin-left: 70%;
    object-fit: contain;
    margin-top: 5%;
    margin-bottom: 9%;
  }
  h1 {
    text-transform: uppercase;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
    margin-top: 18%;
    font-size: 35px;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

  h2 {
    margin-left: 50px;
    margin-top: 2%;
    color: black;
    font-size: 35px;
}
  
  .container-first {
    position: absolute;
    top: 10px;
    left: 5%;
  }
  
  
#btn-accueil{
  margin-bottom: 20%;
}
  
  
  .field:hover{
    box-shadow: 60px -16px black ;
  }
  
  .lignesForm {
    width: 100%;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: absolute;
  
  }
  
  h2 {
  
    margin-left: 50px;
    color: black
  
  }


  .lien {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    padding: 15px 45px;
    margin-left: 700px;
    margin-right: 700px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.25s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: large;
  }

  .ombreText{
    text-shadow: rgb(16, 2, 50) 0.1em 0.1em 0.2em;
}

.container{
  position: absolute;
  top: 10px;
  left: 5%;
}

/*Contien le formulaire -> permet d'aligner au centre de la page le formulaire*/
#container-formulaire{
  border: solid 3px black;
}

/*Contien les données à rentrer (méthode FORM)*/
#formulaire{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  
}


#club-receveur{
  border : solid 1px black;
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
  background-image: url(../Images/background.png);
  background-size: cover;

}

#club{
  border : solid 1px black;
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
  background-image: url(../Images/background.png);
  background-size: cover;
}

#ddcs{
  border : solid 1px black;
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
  background-image: url(../Images/background.png);
  background-size: cover;
}

#police{
  border : solid 1px black;
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
  background-image: url(../Images/background.png);
  background-size: cover;
}

/*Mise en forme des input*/
input{
  border: none;
  outline : transparent;
  background-color: #727ee8;
  color:white;
}

label{
  font-family: system-ui;
  color: #f1f1f1;
}


h3{
  font-family: system-ui;
  color: #f1f1f1;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 32%;
}

.ligne-input{
  border: 0.1px solid #fff;
  background-color: #fff;
  overflow: hidden;
  margin-top: 1px;
}

.elements-input{
  margin-left: 35%;
  width: 194px;
}