*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: url('../Images/stade.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  position: relative;
  overflow-x: hidden;
}

html {
  background: linear-gradient(rgb(136, 136, 212), rgb(34, 30, 52));
  height: 325%;
}


.l1 {
  width: 250px;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
}
.l2 {
  width: 140px;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: relative;
  top: 20px;
}

.l3{
  width: 90%;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: absolute;
  left: 5%;
  margin-top: 20%;
}

.lignes {
  position: absolute;
  top: 6%;
  left: 5%;
}

a{
  color: #fff;
}

.lien{
  font-size: x-large;
  margin-left: 16%;
  border: 2px solid #f1f1f1;
  outline: none;
  background: transparent;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  color: #f1f1f1;
  cursor: pointer;
}

.lien:nth-child(1){
  margin-right: 30px;
}

.lien:hover {
  transition: all 0.3s ease-in-out;
  background:#333;
}



#logoDDCS
{
    margin-left: 70%;
    object-fit: contain;
    margin-top: 5%;
    margin-bottom: 9%;
}



h1 {
    text-transform: uppercase;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif; 
    margin-top: 18%;
    font-size: 45px;
}

.container-first {
  position: absolute;
  top: 10px;
  left: 5%;
}

#formulaire{
  margin-left: 18%;
}

.lignesForm{
  width: 30%;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: absolute;
  margin-left: 5%;
}

h2{
    
    margin-left: 50px;
    color: #f1f1f1;
    
}

fieldset{
  margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(67, 64, 64);
    border-radius: 10px;
    width: 60%;
    
}

label,input{
    margin-left: 10px;
    margin-top: 15px;

}

input {
  border-radius: 5px;
  border: 3px solid;
}



button{
    margin-left: 45%;
    cursor: pointer;
}

.text{
    margin-top: 23%;
    margin-left: 30px;
    text-decoration: underline;
}

.listeDeroulente{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    text-align: center;
}

legend{
  margin-left: 20px;
}

/*Réalisation d'un pop up pour afficher les conditions générales d'utilisations -------------------------------------------------------*/


  .box {
    width: 320px;
    margin: 10rem auto;
    padding-top: 10rem;
    background: rgba(255,255,255,0.3);
    padding: 2.5rem;
    border: 2px solid #ddd;
    border-radius: 20px/50px;
  }
  .button {
    font-size: 1.3rem;
    padding: 1rem;
    color: #fff;
    border: 2px solid #12FCF8;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    background: rgba(10,149,147,0.25);
    transition: all 0.3s ease-out;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 6rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 5px;
    width: 45%;
    position: relative;
    transition: all 0.4s ease-in-out;
    text-align: center;
  }
  .popup .cross {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    color: #333;
  }
  .popup .cross:hover {
    color: #e21d1d;
  }