*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: url('../Images/stade.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  position: relative;
  overflow-x: hidden;
}

html {
  background: linear-gradient(#e0c3fc, #8ec5fc);
  height: 230%;
}

.l1 {
  width: 250px;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
}

.l2 {
  width: 140px;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: relative;
  top: 20px;
  
}

.l3 {
  width: 90%;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: absolute;
  left: 5%;
  margin-top: 20%;
}

.lignes {
  position: absolute;
  top: 6%;
  left: 5%;
}

a {
  color: #fff;
}

.lien {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  padding: 15px 45px;
  margin-left: 500px;
  margin-right: 500px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.25s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: large;
}

.lien:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}



#logoDDCS {
  margin-left: 70%;
  object-fit: contain;
  margin-top: 5%;
  margin-bottom: 9%;
}



h1 {
  text-transform: uppercase;
  color: #f1f1f1;
  font-family: Abril fatface, sans-serif;
  margin-top: 18%;
  font-size: 45px;
}

.container-first {
  position: absolute;
  top: 10px;
  left: 5%;
}

label {
  margin-left: 10px;
  margin-top: 15px;
}

.imageProfil{
  margin-left: 20%;
}

p{
  color: white;
}