.btn{
    border : solid 2px black;
    background-color: rgb(31, 31, 112);
    border-radius: 5px;
    
    position: fixed;
}

.addUser{
    margin-left: 150vh;
    top: 32px;
}

.getAll{
    margin-left:120vh;
    top: 32px;
}

.btn a {
    color: rgb(48, 179, 219);
}

.btn:hover{
    cursor: pointer;
}

.btn:hover a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*Barre de recherche*/
.search-content{
    padding: 30px;
}

.search-form{
    margin: 0 auto;
    max-width: 800px;

    
}

#search{
    width: 500px;
}

/*Fin de la barre de recherche*/